/* add css module styles here (optional) */

.selectContainer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5em;
  font-size: 2em;
}

.selectClass {
  font-size: 15px;
  border: none;
}

.label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 15px;
}

.countryName {
  margin-left: 2%;
}

.flag {
  width: fit-content;
  height: 1rem;
}